<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thank.cuttlefish.content.mapper.ContentMapper">
    <select id="queryListByRand" parameterType="com.thank.cuttlefish.content.dto.ContentDto" resultType="com.thank.cuttlefish.content.dto.ContentDto">
        SELECT t.* from(
            SELECT t1.id, t1.content, t1.title, t1.content_cover_url, t1.update_time,
                    t2.nickname,  t2.avatar_img_url,
                    t3.category_name
                FROM `t_content` t1
                LEFT JOIN `t_user` t2 ON t1.author_id = t2.id
                LEFT JOIN `t_content_category` t3 ON t1.category_id = t3.category_id
            WHERE t1.id >=
                (SELECT floor(RAND() * (SELECT MAX(id) FROM `t_content`)))
                and t1.audit_status = 2
                <if test="categoryId != null and categoryId != ''">
                    and t1.categoryId = #{categoryId}
                </if>
            ORDER BY t1.id
            LIMIT 5
        ) t
        ORDER BY t.update_time DESC
    </select>
</mapper>
